.bordered { border: 5px solid blue;
    padding: 25px;
}
h1{
    font-family: cursive;
}
li{
    font-style: italic;
    margin: 10px; align-content: center;
}
img{ border-radius: 50px;
    border: 10px solid black;
}
div{
    background-color: rgb(199, 192, 183);
     
}
